body
{background-color: #bdd0f5;}
h1 
{background-color: blue;}
{font-weight: 100;}
h2
{background-color: blue;}
{font-weight: 90;}
h3
{background-color: blue;}
{font-weight: 90;}
h4
{background-color: blue;}
{font-weight: 90;}
h5
{background-color: blue;}
{font-weight: 90;}
h6
{background-color: blue;}
{font-weight: 90;}