body
{background: color #bdd0f5; }
text-align: center
.icemaq 
{width: 50%;}
h1
{color: rgb(9, 9, 89)}
h2
{color:rgb(9, 9, 89)}
.eletrolux
{
height: 100px;
width: 50px;
}
.brastemp
{
height: 100px;
width: 50px;
}
.consul
{
height: 100px;
width: 50px;
}
.lg
{
height: 100px;
width: 50px;
}