body
{background: color #bdd0f5; }
text-align: center
.icemaq 
{width: 50%;}
h1
{color: rgb(9, 9, 89)}
h2
{color:rgb(9, 9, 89)}
.Eletrolux
{width: 200px; ;
height:auto ;}
.Brastemp
{width: 200px; ;
height:auto ;}
.Consul
{width: 200px; ;
height:auto ;}
.LG
{width: 200px; ;
height:auto ;}
.Samsung
{width: 200px; ;
height:auto ;}