body
{background-color: rgb(24, 166, 168);}
{text-align: center}
h1
{color: rgb(9, 9, 89)}
h2
{color:rgb(9, 9, 89)}
.electrolux
{
height: 70px;
width: 250px;
}
.brastemp
{
height: 70px;
width: 280px;
}
.consul
{
height: 70px;
width: 250px;
}
.lg
{
height: 90px;
width: 250px;
}
.samsung
{
    height: 50px;
    width: 220;
}
